<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NW4R664');</script>
    <!-- End Google Tag Manager -->
</head>

<psk-page title="psk-list">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NW4R664"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <psk-toc title="Table of contents"></psk-toc>

    <psk-description title="Summary">
        <p>This component will render either a unordered list(using the same special characters as in Office) or an ordered list, based on the values given to the properties .</p>
        <p>Every element in this list will be delimited by a enter character.</p>
    </psk-description>

    <psk-property-descriptor title="Supported properties">
        <psk-list></psk-list>
    </psk-property-descriptor>

    <psk-chapter title="HTML Children">
        <p>The info sent between the tags will be processed in this way:</p>
        <p>First of all every element delimited by enter character with a length bigger than 0 will be passed in a array.
        </p>
        <p>After this for every array element we verify if it's either a inline,start or end tag.</p>
        <p>If it is any of the above we check for children,in a positive case we add them to a final array that will be rendered, and in a negative case we add only the line to the final array.</p>
    </psk-chapter>

    <psk-chapter title="Code Example">
        <psk-code language="markup">
            <psk-list list-type="unordered">
                <code>First text entry</code>
                <code>Second text entry</code>
                <code>Third text entry</code>
                <code>Fourth text entry</code>
            </psk-list>
        </psk-code>
        <psk-chapter title="Unordered List Example">
            <psk-example class="app-example">
                <psk-list list-type="unordered">
                    <code>First text entry</code>
                    <code>Second text entry</code>
                    <code>Third text entry</code>
                    <code>Fourth text entry</code>
                </psk-list>
            </psk-example>
        </psk-chapter>

        <psk-code language="markup">
            <psk-list list-type="ordered">
                <code>First text entry</code>
                <code>Second text entry</code>
                <code>Third text entry</code>
                <code>Fourth text entry</code>
            </psk-list>
        </psk-code>
        <psk-chapter   title="Ordered List Example">
            <psk-example class="app-example">
                <psk-list list-type="ordered">
                    <code>First text entry</code>
                    <code>Second text entry</code>
                    <code>Third text entry</code>
                    <code>Fourth text entry</code>
                </psk-list>
            </psk-example>
        </psk-chapter>
    </psk-chapter>

</psk-page>
