<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NW4R664');</script>
    <!-- End Google Tag Manager -->
</head>

<psk-page title="psk-link">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NW4R664"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <psk-toc title="Table of contents"></psk-toc>

    <psk-description title="Summary">
        <p>This component role is to create a link that will respond with a redirect inside that website the moment it is clicked.</p>
        <p>The path to redirect is given using the properties and if it is not given then the component will not be rendered.</p>
    </psk-description>

    <psk-property-descriptor title="Supported properties">
        <psk-link></psk-link>
    </psk-property-descriptor>

    <psk-controller-descriptor title="Events that supports Controller">
        <webc-link data-define-controller="true">
        </webc-link>
    </psk-controller-descriptor>

    <psk-highlight title="Note" type-of-highlight="note">
        The use of <code>tag</code> attributes is encouraged because the <strong>webc-link</strong> will support menu page changes in <code>menu.json</code> in this way.
        If you opt out for <code>page</code> attribute, you will have to manage by yourself the url changes.
    </psk-highlight>

    <psk-chapter title="HTML Children">
        <p>This component child is a span that will render the info on an newly created <code>button</code>.</p>
    </psk-chapter>

    <psk-chapter title="Code example using page attribute">

        <psk-code language="markup">
            <webc-link tag="psk-card">
                Click me to get redirected!
            </webc-link>
        </psk-code>

            <psk-example class="app-example"  title="Example with page">
                <webc-link tag="psk-card">
                    Click me to get redirected!
                </webc-link>
            </psk-example>

    </psk-chapter>

    <psk-chapter title="Code example using tag attribute">

        <psk-code language="markup">
            <webc-link tag="psk-card">
                Click me to get redirected!
            </webc-link>
        </psk-code>


            <psk-example class="app-example"  title="Example with tag">
                <webc-link tag="psk-card">
                    Click me to get redirected!
                </webc-link>
            </psk-example>

    </psk-chapter>

    <psk-chapter title="Code example using page and chapter attributes">

        <psk-code language="markup">
            <webc-link tag="psk-card" chapter="code-example">
                Click me to get redirected!
            </webc-link>
        </psk-code>

        <psk-example class="app-example"  title="Example with page and chapter">
            <webc-link tag="psk-card" chapter="code-example">
                Click me to get redirected!
            </webc-link>
        </psk-example>

    </psk-chapter>

    <psk-chapter title="Code example using tag and chapter attributes">

        <psk-code language="markup">
            <webc-link tag="psk-card" chapter="code-example">
                Click me to get redirected!
            </webc-link>
        </psk-code>


        <psk-example class="app-example"  title="Example with tag and chapter">
            <webc-link tag="psk-card" chapter="code-example">
                Click me to get redirected!
            </webc-link>
        </psk-example>

    </psk-chapter>

</psk-page>
