@import url("./fonts/nunito/nunito.css");
@import url("./fonts/fontawesome/font-awesome.min.css");
/*@import url("./bootstrap/css/bootstrap.min.css");*/

@import url("./variables.css");
@import url("./patches.css");

body {
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

/* Browser support style */

div.browser-support {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.browser-support h1 {
    color: #ff0000;
}

div.browser-support h3 {
    color: #354f9b;
}

div.browser-support ul {
    text-decoration: underline;
}

div.browser-support li {
    font-style: italic;
}

div.browser-support li strong {
    font-style: normal;
}
