<psk-page title="Templates">
    <psk-toc title="Table of contents"></psk-toc>
    <webc-docs for="webc-template">
        <psk-description title="Summary">
            <p>This component attach a template to your page.</p>
        </psk-description>
        <psk-chapter title="Usage">
            <psk-example>
                <psk-code>
                    <webc-template template-name="custom-template"></webc-template>
                </psk-code>
            </psk-example>
            <p>Where <code>custom-template</code> is a file named <code>custom-template.html</code> inside <code>/templates</code> directory.</p>
        </psk-chapter>
    </webc-docs>
</psk-page>