<style>
    webc-link { white-space: nowrap; }
    p { text-align: left !important; }
</style>

<psk-page title="Application container">
    <psk-toc title="Table of contents"></psk-toc>
    <webc-docs for="webc-app-container">
        <psk-description title="Summary">
            <p>
                This web component is a wrapper over your application content, more precise over
                <webc-link tag="webc-docs">webc-app-router</webc-link>.
            </p>
        </psk-description>
    </webc-docs>
</psk-page>